name: 'Delete old artifacts'
on:
  workflow_call:
    secrets:
      ACCESS_TOKEN:
        required: false
      SLACK_WEBHOOK_URL:
        required: false

jobs:
  delete-artifacts:
    runs-on: ubuntu-latest
    steps:
      - uses: kolpav/purge-artifacts-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          expire-in: 2days # Setting this to 0 will delete all artifacts
      - uses: 8398a7/action-slack@v3
        with:
          status: ${{ job.status }}
          fields: repo,message,author,commit,workflow,job # selectable (default: repo,message)
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_DEVOPS }} # required
        if: failure() # Pick up events even if the job fails or is canceled.
