name: Build docker and push image to Docker Hub

on:
  workflow_call:
    inputs:
      SERVICE_NAME:
        required: true
        type: string
      SERVICE_LOCATION:
        required: true
        type: string
      BUILD_ARTIFACT:
        required: false
        type: string
        default: false
      NPM_BUILD:
        required: false
        type: boolean
        default: false
      ONLY_DOCKER:
        required: false
        type: boolean
        default: false

    secrets:
      RELEASE_DOCKER_HUB:
        required: true
      ACTOR_DOCKER_HUB:
        required: true
      DEV_NAMESPACE_DOCKER_HUB:
        required: true
      SLACK_WEBHOOK_URL:
        required: true

jobs:
  build-dockers:
    runs-on: ubuntu-latest
    env:
      NAMESPACE: ${{ secrets.DEV_NAMESPACE_DOCKER_HUB }}
      SERVICE_LOCATION: ${{ inputs.SERVICE_LOCATION }}
      SERVICE_NAME: ${{ inputs.SERVICE_NAME }}

    steps:
      - uses: actions/checkout@v3
      - uses: actions/download-artifact@v3
        if: ${{ ( inputs.BUILD_ARTIFACT != 'false' ) }}
        with:
          name: ${{ inputs.BUILD_ARTIFACT }}
          path: ./

      - name: Setup branch and env
        run: |
          # Strip git ref prefix from version
          echo "BRANCH_NAME=$(echo ${{ github.ref }} | sed -e 's,.*/\(.*\),\1,')" >> $GITHUB_ENV
          echo "GPG_TTY=$(tty)" >> $GITHUB_ENV
          echo "${{ toJSON(inputs) }}"

      - name: Get version info from pom
        if: ${{ contains(inputs.NPM_BUILD, 'false') && ( inputs.BUILD_ARTIFACT != 'false' )  && ( inputs.ONLY_DOCKER == false ) }}
        id: getPomVersion
        uses: mavrosxristoforos/get-xml-info@1.1.1
        with:
          xml-file: ./${{ env.SERVICE_LOCATION }}/pom.xml
          xpath: /*[local-name()="project"]/*[local-name()="version"]

      - name: Unzip and extract for docker build
        if: ${{ contains(inputs.NPM_BUILD, 'false' ) && ( inputs.BUILD_ARTIFACT != 'false' )  && ( inputs.ONLY_DOCKER == true )}}
        run: |
          unzip "${{ inputs.BUILD_ARTIFACT }}.zip" -d "${{ inputs.SERVICE_LOCATION }}"

      - name: Unzip and extract for maven
        if: ${{ contains(inputs.NPM_BUILD, 'false' ) && ( inputs.BUILD_ARTIFACT != 'false' ) && ( inputs.ONLY_DOCKER == false ) }}
        run: |
          unzip -uj "${{ inputs.BUILD_ARTIFACT }}.zip" "${{ inputs.SERVICE_LOCATION }}/target/*" -d "${{ env.SERVICE_LOCATION }}/target/"

      - name: Unzip and extract for npm
        if: ${{ contains(inputs.NPM_BUILD, 'true' ) && ( inputs.BUILD_ARTIFACT != false )  && ( inputs.ONLY_DOCKER == false )}}
        run: |
          unzip "${{ inputs.BUILD_ARTIFACT }}.zip" "dist/*" -d "${{ inputs.SERVICE_LOCATION }}"

      - name: Get current date
        run: echo "BUILD_TIME=$(date +'%Y-%m-%d-%H-%M-%S')"  >> $GITHUB_ENV

      - name: Check 'mosip' user in Dockerfiles
        run: |
            DOCKERFILES=$(git ls-files | grep Dockerfile | grep -e '^Dockerfile$')
              for FILE in $DOCKERFILES; do
              if ! grep -q "ARG container_user=mosip" "$FILE" || ! grep -q "ARG container_user_group=mosip" "$FILE" || ! grep -q "ARG container_user_uid=1001" "$FILE" || ! grep -q "ARG container_user_gid=1001" "$FILE" || ! grep -q "groupadd -g \${container_user_gid} \${container_user_group}" "$FILE" || ! grep -q "&& useradd -u \${container_user_uid} -g \${container_user_group} -s /bin/sh -m \${container_user}" "$FILE" || ! grep -q "WORKDIR /home/\${container_user}" "$FILE" || ! grep -q "RUN chown -R \${container_user}:\${container_user} /home/\${container_user}" "$FILE" || ! grep -q "USER \${container_user_uid}:\${container_user_gid}" "$FILE"; then
                echo "Error: 'mosip' user is not properly defined in $FILE. Please define the 'mosip' user with the specified arguments in the Dockerfile."
                exit 1
              fi
            done

      - name: Build check for Docker label
        run: |
          cd ${{ inputs.SERVICE_LOCATION }}
          for layer in  ARG\\s+SOURCE ARG\\s+COMMIT_HASH ARG\\s+COMMIT_ID ARG\\s+BUILD_TIME LABEL\\s+source=\\$\\{SOURCE\\} LABEL\\s+commit_hash=\\$\\{COMMIT_HASH\\} LABEL\\s+commit_id=\\$\\{COMMIT_ID\\} LABEL\\s+build_time=\\$\\{BUILD_TIME\\}; do
            layer_count=$( grep -Ev '^$' Dockerfile | grep -Ec "$layer" || true);
          
            if [[ $layer_count -ne 1 ]]; then
              dlayer=$( echo $i | sed -E 's/\\s\+/ /g' | sed -E 's/\\//g' )
              echo "Docker layer : $dlayer not found; EXITING";
            fi
          done

      - name: Build image
        run: |
          cd ${{ inputs.SERVICE_LOCATION }}
          docker build . --build-arg SOURCE=mosip --build-arg COMMIT_HASH=$(git rev-parse HEAD) --build-arg COMMIT_ID=$(git rev-parse --short HEAD) --build-arg BUILD_TIME=$BUILD_TIME --file Dockerfile --tag ${{ env.SERVICE_NAME }}

      - name: Log into registry
        if: "${{ github.event_name != 'pull_request' }}"
        run: echo "${{secrets.RELEASE_DOCKER_HUB}}" | docker login -u ${{secrets.ACTOR_DOCKER_HUB}} --password-stdin

      - name: Push image
        if: "${{ github.event_name != 'pull_request' }}"
        run: |
          IMAGE_ID=$NAMESPACE/$SERVICE_NAME
          
          # Change all uppercase to lowercase
          IMAGE_ID=$(echo $IMAGE_ID | tr '[A-Z]' '[a-z]')
          echo "push version ${{steps.getPomVersion.outputs.info}}"
          if [[ $BRANCH_NAME == master ]]; then
          VERSION=latest
          else
          VERSION=$BRANCH_NAME
          fi
          echo IMAGE_ID=$IMAGE_ID
          echo VERSION=$VERSION
          docker tag $SERVICE_NAME $IMAGE_ID:$VERSION
          docker push $IMAGE_ID:$VERSION

      - uses: 8398a7/action-slack@v3
        with:
          status: ${{ job.status }}
          fields: repo,message,author,commit,workflow,job # selectable (default: repo,message)
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }} # required
        if: failure() # Pick up events even if the job fails or is canceled.
