name: Sonar Analysis via Gradlew

on:
  workflow_call:
    inputs:
      SERVICE_LOCATION:
        description: 'SERVICE LOCATION'
        required: true
        type: string
      SONAR_URL:
        required: false
        type: string
        default: 'https://sonarcloud.io'
      SONAR_ARGS:
        required: false
        type: string
        default: ""
    secrets:
      SONAR_TOKEN:
        required: true
      ORG_KEY:
        required: true
      SLACK_WEBHOOK_URL:
        required: true

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
  SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
  SONAR_URL: ${{ inputs.SONAR_URL }}

jobs:
  gradlew-sonar-analysis:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0  # Shallow clones should be disabled for a better relevancy of analysis

      - name: Cache Gradle packages
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: ${{ runner.os }}-gradle-

      - name: Cache SonarCloud packages
        uses: actions/cache@v4
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar-${{ hashFiles('**/package-lock.json') }}
          restore-keys: ${{ runner.os }}-sonar-

      - name: Check if Environmental variables set for sonar
        run: |
          if [[ -z $SONAR_TOKEN ]]; then
            echo "\$SONAR_TOKEN environmental variable not set; EXITING;";
            exit 1;
          fi
          if [[ -z ${{ secrets.ORG_KEY }} ]]; then
            echo "\$ORG_KEY secret not set; EXITING;";
            exit 1;
          fi
          if [[ -z $SONAR_URL ]]; then
            echo "\$SONAR_URL environmental variable not set; EXITING;";
            exit 1;
          fi

      - name: Analysis with Sonarcloud
        run: |
          cd ${{ inputs.SERVICE_LOCATION }}
          sed -i -e 's/\r$//' ./gradlew
          chmod +x ./gradlew
          ./gradlew build sonarqube \
            -Dsonar.organization=${{ secrets.ORG_KEY }} \
            -Dsonar.projectKey=${{ secrets.ORG_KEY }}_${{ github.event.repository.name }} \
            -Dsonar.projectName=${{ github.event.repository.name }} \
            -Dsonar.host.url=${{ inputs.SONAR_URL }} \
            --info --warning-mode all ${{ inputs.SONAR_ARGS }}

      - uses: 8398a7/action-slack@v3
        with:
          status: ${{ job.status }}
          fields: repo,message,author,commit,workflow,job # selectable (default: repo,message)
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }} # required
        if: "${{ github.event_name != 'pull_request' && failure() }}" # Pick up events even if the job fails or is canceled.
