name: IOS Build

on:
  workflow_call:
    inputs:
      NODE_VERSION:
        default: "18.x"
        type: string
      SERVICE_LOCATION:
        description: "Service Location"
        required: true
        default: "."
        type: string
      IOS_SERVICE_LOCATION:
        description: "IOS Service Location"
        required: true
        default: "ios"
        type: string
      SCRIPT_NAME: 
        description: "Build script name"
        required: true
        default: "fastlane ios_app_build"
        type: string

jobs:
  build_ios:
    name: Building the IPA
    runs-on: macos-13

    steps:
      - uses: actions/checkout@v3.1.0
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ inputs.NODE_VERSION }}

      - name: Install npm dependencies
        run: |
          cd ${{ inputs.SERVICE_LOCATION }}
          npm install

      - name: Install Pod
        run: |
          cd ${{ inputs.SERVICE_LOCATION }}/${{ inputs.IOS_SERVICE_LOCATION }}
          pod install
          pod install

      - name: Build iOS
        run: |
          cd ${{ inputs.SERVICE_LOCATION }}/${{ inputs.IOS_SERVICE_LOCATION }}
          ${{ inputs.SCRIPT_NAME }}
