name: NPM Sonar Analysis

on:
  workflow_call:
    inputs:
      SERVICE_LOCATION:
        required: true
        type: string
      SONAR_URL:
        required: false
        type: string
        default: 'https://sonarcloud.io'
      PROJECT_KEY:
        required: false
        type: string
        default: "mosip_${{ github.event.repository.name }}"
    secrets:
      SONAR_TOKEN:
        required: true
      ORG_KEY:
        required: true
      SLACK_WEBHOOK_URL:
        required: true

jobs:
  npm-sonar-analysis:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v1
      with:
        node-version: '14'
    - name: npm install
      run: cd ${{ inputs.SERVICE_LOCATION }} && npm install --ignore-scripts

    - name: npm build
      run: cd ${{ inputs.SERVICE_LOCATION }} && npm run-script build -- --prod --base-href . --output-path=dist

    - name: Setup branch and env
      run: |
        # Strip git ref prefix from version
        echo "BRANCH_NAME=$(echo ${{ github.ref }} | sed -e 's,.*/\(.*\),\1,')" >> $GITHUB_ENV
        echo "GPG_TTY=$(tty)" >> $GITHUB_ENV

    - name: run sonar analysis
      run: |
        cd "./${{inputs.SERVICE_LOCATION}}"
        echo "sonar.host.url=${{ inputs.SONAR_URL }}
              sonar.login=${{ secrets.SONAR_TOKEN }}
              sonar.projectKey=${{ inputs.PROJECT_KEY }}
              sonar.organization=${{ secrets.ORG_KEY }}
              sonar.sourceEncoding=UTF-8
              sonar.sources=src
              sonar.exclusions=**/node_modules/**
              sonar.tests=src
              sonar.test.inclusions=**/*.spec.ts
              sonar.typescript.lcov.reportPaths=coverage/lcov.info" >> sonar-project.properties
        npm install sonar-scanner && npm run sonar
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

    - uses: 8398a7/action-slack@v3
      with:
        status: ${{ job.status }}
        fields: repo,message,author,commit,workflow,job # selectable (default: repo,message)
      env:
        SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }} # required
      if: failure() # Pick up events even if the job fails or is canceled.