name: NPM Sonar Analysis

on:
  workflow_call:
    inputs:
      SERVICE_LOCATION:
        required: true
        type: string
    secrets:
      SONAR_TOKEN:
        required: true
      ORG_KEY:
        required: true
      SLACK_WEBHOOK_URL:
        required: true

jobs:
  npm-sonar-analysis:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - uses: actions/setup-node@v3
        with:
          node-version: '14'
      
      - name: Cache npm dependencies
        uses: actions/cache@v4
        with:
          path: '~/.npm'
          key: ${{ runner.os }}-npm-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-npm-

      - name: Cache SonarCloud packages
        uses: actions/cache@v4
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar-${{ hashFiles('**/package-lock.json') }}
          restore-keys: ${{ runner.os }}-sonar-

      - name: Install dependencies
        run: cd ${{ inputs.SERVICE_LOCATION }} && npm install

      - name: Run Sonar analysis
        run: |
          cd "${{ inputs.SERVICE_LOCATION }}"
          # Install sonar-scanner if needed
          npm install sonar-scanner --no-save
          # Run sonar analysis
          npx sonar-scanner \
            -Dsonar.host.url=https://sonarcloud.io \
            -Dsonar.projectKey=${{ secrets.ORG_KEY }}_${{ github.event.repository.name }} \
            -Dsonar.projectName=${{ github.event.repository.name }} \
            -Dsonar.organization=${{ secrets.ORG_KEY }} \
            -Dsonar.login=${{ secrets.SONAR_TOKEN }} \
            -Dsonar.sources=src \
            -Dsonar.tests=src \
            -Dsonar.test.inclusions=**/*.spec.ts \
            -Dsonar.exclusions=**/node_modules/** \
            -Dsonar.typescript.lcov.reportPaths=coverage/lcov.info

      - uses: 8398a7/action-slack@v3
        with:
          status: ${{ job.status }}
          fields: repo,message,author,commit,workflow,job
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        if: "${{ github.event_name != 'pull_request' && failure() }}"
